<a href="https://colab.research.google.com/github/tancy1979/ctucc2022/blob/main/Chor_Yean_Tan_2022_Python_Programming_Practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2022 Python Programming Practical 2**

**Q1. (Check if number is odd or even)**

Write a program that reads an integer and checks whether it is odd or even. 

Sample interaction:
```
Enter number: 25
25 is odd

Enter number: 8
8 is even

```

In [ ]:
# input
num = int(input("Type an integer: "))
print(num)
# process
if num % 2 ==0: # if an integer is even, the remainder when divided by 2 is 0
    print("The integer ", num,  " is even.")
else:
    print("The integer ", num, " is odd.")

Type an integer: 34
34
The integer  34  is even.

**Q2. (Validate triangles and compute perimeter)**

Write a program that reads three edges for a triangle and determines whether the input is valid. The input is valid if the sum of any two edges is greater than the third edge. The program will compute the perimeter of the triangle if the input is valid. Otherwise, display that the input is invalid. 

Sample interaction:
```
Enter side 1: 2
Enter side 2: 2
Enter side 3: 1
Perimeter = 5

Enter side 1: 1
Enter side 2: 2
Enter side 3: 1
Invalid triangle!

```

In [ ]:
# Input for 3 edges
s1 = float(input("Length of first side: "))
s2 = float(input("Length of second side: "))
s3 = float(input("Length of third side: "))

# Check for validity
# Sum of any 2 edges must be greater than the other edge to be valid
total12 = s1 + s2
total13 = s1 + s3
total23 = s2 + s3
perimeter = s1 + s2 + s3
if (total12 > s3) and (total13 > s2) and (total23 > s1):
    print("The sides form a triangle.")
    print("The perimeter of the triangle is", perimeter, ".")
else:
    print("The sides do not form a triangle.")

Length of first side: 3
Length of second side: 2
Length of third side: 5
The sides do not form a triangle.

**Q3. (Determine grade)**

Write a program that prompts the user to enter a score between 0 and 100 inclusive and output the corresponding grade as well as a Pass/Fail status. Output an error message if the entered score in not within the valid range. The grading system is as follows (S and U are not passes):

A: 70 - 100  
B: 60 - 69  
C: 55 - 59  
D: 50 - 54  
E: 45 - 49  
S: 35 - 44  
U: 0 - 34

Sample interaction:
```
Enter score: 73
A
Pass

Enter score: 37
S
Fail

Enter Score: -1
Invalid! Score must be within 0 - 100.

```

In [ ]:
# input score 
score = int(input("Enter a score to nearest integer: "))

# print the grade
if score > 100:
    print("Score must be 0 to 100.")
elif 70 <= score <= 100:
    print("A")
elif 60 <= score <= 69:
    print("B")
elif 55 <= score <= 59:
    print("C")
elif 50 <= score <= 54:
    print("D")
elif 45 <= score <= 49:
    print("E")
elif 40 <= score <= 44:
    print("S")
else: # score <= 40 is U
    print("U")

# print pass or fail
if score > 100:
    print("Please enter again.")
elif 45 <=score <= 100:
    print("Pass")
else: # score < 45 is fail
    print("Fail")

Enter a score to nearest integer: 43
S
Fail

**Q4. (Determine leap year)**

Write a program that prompts the user to enter a year and determines whether it is a leap year. A year is a leap year if it is divisible by 4 but not 100, or is divisible by 400. 

Sample interaction:
```
Enter year: 2020
Leap

Enter year: 2019
Non-Leap
```

In [ ]:
# assume invalid year
year = -1

while year <= 0: 
    print("Enter year (must be positive number): ")
    year = int(input("Enter year: "))

# check if year is divisible by 4 but not by 100
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0: 
    print("The year ", year, "is a leap year.")
else:
    print("The year ", year, "is not a leap year.")

Enter year (must be positive number):
Enter year: 2000
The year  2000 is a leap year.

**Q5. (Find number of days in a month)**

Write a program that prompts the user to enter the month and year, and displays the number of days in the month. Sample interaction:
```
Enter month: 2
Enter year: 2020
February 2020 has 29 days.

Enter month: 3
Enter year: 2021
March 2021 has 31 days.

```

In [ ]:
#assume wrong month and year
month = 0
year = 0

# set variable(s)
month31 = [1, 3, 5, 7, 8, 10 , 12] # months with 31 days
monthdict = {1: "January", 3: "March", 4: "April", 5: "May", 6: "June", 
             7: "July", 8: "August", 9: "September", 10: "October", 11: "November", 12: "December"}

# input
while (month <= 0) or (month >12):
    print("Month (1 to 12)")
    month = int(input("Enter the month: "))
while (year <= 0):
    print("Year (positive integer)")
    year = int(input("Enter the year: "))

#process
if month == 2: # for February, 29 days in leap year
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0: # check leap year
        print("February", year, "has 29 days.")
    else:
        print("February", year, "has 28 days.")
elif month in month31:
    print(monthdict[month],year, "has 31 days.")
else:
    print(monthdict[month],year, "has 30 days.")

**Q6. (Convert from kilograms to pounds)**

Write a program that displays the following table (1 kilogram = 2.2 pounds):
```
Kilograms Pounds
1         2.2
2         4.4
3         6.6
...
9         19.8
10        22.0
```

In [ ]:
# heading
print("{0:<10}{1}".format("Kilograms", "Pounds"))

# loop
for kgs in range(1, 11):
    # value
    print("{0:<10}{1:<14.1f}".format(kgs, kgs*2.2))

Kilograms Pounds
1         2.2
2         4.4
3         6.6
4         8.8
5         11.0
6         13.2
7         15.4
8         17.6
9         19.8
10        22.0

**Q7. (Convert from miles to kilometres)**

Write a program that displays the following two tables side-by-side (1 mile = 1.609 kilometres):
```
Miles	Kilometers	Kilometres	Miles
1    	1.609     	20        	12.430
2    	3.218     	25        	15.538

...
9    	14.481    	60        	37.290
10   	16.090    	65        	40.398
```

In [ ]:
# heading
print("{0:<10}{1:<14}{2:<14}{3}".format("Miles", "Kiliometres", "Kilometres", "Miles"))
km = 20 # so that km in 3rd column starts from 20
# loop
for miles in range(1, 11):
    # value
    print("{0:<10}{1:<14.3f}{2:<14}{3:.3f}".format(miles, miles*1.609, km, km/1.609))
    km += 5 # km increase by 5

Miles     Kiliometres   Kilometres    Miles
1         1.609         20            12.430
2         3.218         25            15.538
3         4.827         30            18.645
4         6.436         35            21.753
5         8.045         40            24.860
6         9.654         45            27.968
7         11.263        50            31.075
8         12.872        55            34.183
9         14.481        60            37.290
10        16.090        65            40.398

**Q8. (Find two highest scores)**

Write a program that prompts the user to enter the number of students and each student's name and score, and finally displays the student with the highest score and the student with the second-highest score. Enter up to 5 student records.

In [ ]:
# number of students
i = int(input("Number of students: "))
scorelist = {} # empty dictionary

# inputs for students' names and scores
for x in range(i):
    name = input("Enter student name: ")
    score = int(input("Enter student score: "))
    scorelist[name] = score # stores inputs into dictionary

# print(scorelist)

# extract scores into a list and sorts the list
scores = list(scorelist.values())
scores.sort(reverse=True)
# print(scores)
maxscore = scores[0] # score of top student
max2score = scores[1] # score of 2nd student

# function to get name of student from score
def GetKey(val):
    for name, score in scorelist.items():
        if val == score:
            return name
    return "no key"

# output
print("Name of top student is", GetKey(maxscore), "with score", maxscore)
print("Name of 2nd student is", GetKey(max2score), "with score", max2score)

Number of students: 4
Enter student name: Tan
Enter student score: 66
Enter student name: Lor
Enter student score: 34
Enter student name: Chin
Enter student score: 4
Enter student name: Lim
Enter student score: 67
Name of top student is Lim with score 67
Name of 2nd student is Tan with score 66

**Q9. (Finding the smallest n such that n<sup>2</sup> > 12000)**

Use a while loop to find the smallest integer n such that n<sup>2</sup> is greater than 12,000.

In [ ]:
n = 1
while n * n < 12000:
    n += 1
print("The smallest integer n such n^2 is greater than 12,000 is", n,".")

The smallest integer n such n^2 is greater than 12,000 is 110 .

**Q10. (Finding the largest n such that n<sup>3</sup> < 12000)** 

Use a while loop to find the largest integer n such that n<sup>3</sup> is less than 12,000.

In [ ]:
n = 1
while n ** 3 < 12000:
    n += 1
print("The largest integer n such that n^3 is less than 12,000 is", n - 1, ".")

The largest integer n such that n^3 is less than 12,000 is 22 .

**Q11. (Computing the greatest common divisor)**

A solution to find the greatest common divisor of two integers n1 and n2 is as follows:
* First find d to be the minimum of n1 and n2
* Then check whether d, d-1, … d-2, 2, or 1 is a divisor for both n1 and n2 in this order.
* The first such common divisor is the greatest common divisor for n1 and n2. 

Write a program to implement this solution.  
Sample interaction:
```
Enter n1: 12
Enter n2: 18
GCD: 6
```

In [ ]:
#input values
n1 = int(input("Enter first integer:"))
n2 = int(input("Enter second integer:"))
d = min(n1, n2)

#check if d is a factor of both n1 and n2
while (n1 % d != 0) or (n2 % d != 0):
    d = d - 1 # process will terminate at d = 1 as 1 is a common divisor of any 2 integers.
print("The gcd is", d)

Enter first integer:549
Enter second integer:34
The gcd is 1

**Q12. (Find factors of a positive integer)**

Write a program that reads a positive integer > 1 and displays all its factors.   
Sample interaction:
```
Enter n: 120
Factors: 2 2 2 3 5 
```

In [ ]:
d = 1
n = 1
#input a value and check that it is more than 1
while n <= 1:
    n = int(input("Enter a positive integer more than 1: "))

print("Factors: ")
while d <= n:
    if n % d == 0: # find divisors of n
        print(d, end = ' ')
    d = d + 1

Enter a positive integer more than 1: 32
Factors:
1 2 4 8 16 32